.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav ul li a {
  text-decoration: none;
  color: #282c34;
  font-weight: bold;
  background: #dddddd;
  padding: 10px;
  border-radius: 3px;
}

.nav ul li a:hover {
  color: #ffffff;
  background: #282c34;
}
